<h1>Test Domain and Page Creation</h1>
<form>
	<input type="text" placeholder="domain name" class="domainInput">
	<label for="domainInput">Domain Input</label>
	<button type="submit" id="domainSubmit">Submit Domain</button>
</form>

<script src="../../static/js/domaincreation.js"></script>