<h1>Test Domain and Page Creation</h1>
<form>
	<input placeholder="domain name" class="domainInput">
	<label for="domainInput">Domain Input</label>
	<button id="domainSubmit">Submit Domain</button>
</form>