<nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo classify">Classify</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#login-modal" class="modal-trigger">Sign in!</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Sign in!</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center orange-text classify">Classify</h1>
            <div class="row center">
                <h5 class="header col s12 light">Your classroom, online, made easy. </h5>
            </div>
            <div class="row center">
                <a href="#signup-modal" id="download-button" class="btn-large waves-effect waves-light orange modal-trigger">Sign Up!</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="section">
        <!-- Here lies the login modal -->
            <div id="login-modal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4 class="modalHead">Log in</h4>
                    <div class="modalContainer">
                        <form class="col s12" method="POST" action="/signin">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="...." type="text" class="validate usernameText" name="username">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="...." type="password" class="validate pw" name="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <br>
                            <button class="modal-action modal-close waves-effect waves-green btn-flat" id="loginSubmit" type="submit">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Here lies the sign-up modal -->
             <div id="signup-modal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4 class="modalHead">Sign up</h4>
                    <div class="modalContainer">
                        <form method="POST" action="/signup" class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="John Doe" type="text" class="validate nameText" id="signup-nameText" name="signupName">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="johndoe" type="text" class="validate usernameText" id="signup-usernameText" name="signupUsername">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="english1302" type="text" class="validate domainText" id="signup-domainText" name="signupDomain">
                                    <label for="domain">Domain</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="johndoe@gmail.com" type="text" class="validate emailText" id="signup-emailText" name="signupEmail">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="password" type="password" class="validate pw" id="signup-pw" name="signupPw">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <br>
                                <button class="modal-action modal-close waves-effect waves-green btn-flat" id="signupSubmit" type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
                {{!-- <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="signUpSubmit">Sign Up!</a>
                </div> --}}
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Simple</h5>
                        <p class="light">Point and click building takes your vision from daydream to deployed in no time</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Social</h5>
                        <p class="light">Connect with your students and colleagues</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Customizable</h5>
                        <p class="light">Make your site all your own with beautiful modules to choose from</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="section">
        </div>
    </div>
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text classify">Classify</h5>
                    <p class="grey-text text-lighten-4">We are a team of bootcamp students working on this project like it's our full time job. We love education. Love us.</p>
                    <h5><a class="white-text" href="https://github.com/chanceeakin/classify-backend">Find us on GitHub!</a></h5>
                </div>
                <div class="col l6 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="text-lighten-3 doomsquad" href="#">Teamdoomsqvad)</a>
            </div>
        </div>
    </footer>

     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/signin.js"></script>
    <script>
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal({
            opacity: .0
        });
        $('.carousel').carousel();
        $('#textarea1').trigger('autoresize');
        $('.carousel').carousel();
        // Next slide
        $('.carousel').carousel('next');
        $('.carousel').carousel('next', 3); // Move next n times.
        // Previous slide
        $('.carousel').carousel('prev');
        $('.carousel').carousel('prev', 4); // Move prev n times.
        // Set to nth slide
        $('.carousel').carousel('set', 4);
    });
    </script>