* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face{
font-family: englishessay;
src:url('../fonts/english_essay.ttf');
}

@font-face{
  font-family: barbarian;
  src:url('../fonts/Barbarian.ttf');
}

@font-face{
  font-family: kindergarten;
  src:url('../fonts/KGMissKindergarten.ttf');
}

/*a {
 font-family: kindergarten;
}
*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.classify{
  font-family: kindergarten;
}

.doomsquad{
  font-family: barbarian;
  font-size: 40px;
  color:black;
}

.squad{
  font-size: 190px;
  font-family: barbarian;
}

/*.side-nav{
  display: inline;
}*/

li{
  margin-bottom: 20px;
}

.subheader {
  font-size: 20px !important;
}

.outline{

   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   /*-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: teal;*/
}

#text-modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 25%;
  transform: translate(-50%, -50%);
}

#calendar-modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 25%;
  transform: translate(-50%, -50%);
}

#header-modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 25%;
  transform: translate(-50%, -50%);
}

#media-modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 25%;
  transform: translate(-50%, -50%);
}

#photo-modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 25%;
  transform: translate(-50%, -50%);
}


.modalHead{
  text-align: center;
}

.input-field{
  transform: translate(50%, 50%);
}

.tooltipped{
  height:5vh;
}

/*header*/
.squadBody {
  position: relative;
  right: 0;
  top: 0;
  margin-right: 5%;
  width: 60vw;
}

#wireframe {
  min-height: 60vh;
  width: 100%;
  border: 3px solid black;
}

.wireframeHeader {
  text-align: center;
}
.wireframePhoto {
  width: 100%;
}
iframe {
  width: 40vw;
  height: 25vw;
  margin: 0 auto;
}

.squadSubmit{
  position: relative;
  bottom: 100%;
  margin: 2%;
  left: 80%;
}

.wireframePhoto {
  width: 40vw;
  height: 25vw;
  margin: 0 auto;
}

#contentSubmit {
}

#loginSubmit, #signupSubmit {
  position: relative;
  left: 70%;
}

form {
  overflow: visible;
}

.header {
  font-family: kindergarten;
  color:#ffb74d;
}

.userView {
  width: 100%;
  height: 18vh;
}


.calendar {
 
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
 
}
 
.calendar iframe {
 
position: absolute; top:0; left: 0; width: 100%; height: 100%;
 
}

.youtube {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.youtube iframe, .youtube object, .youtube embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}